[user]
    name = William Huebner
    email = wilhueb@gmail.com
    username = wthueb

[core]
    editor = vim
    whitespace = fix,-indent-with-non-tab,tab-in-indent,tabwidth=4
    excludesfile = ~/.gitignore_global
    symlinks = true
    pager = delta

[delta]
    syntax-theme = Nord
    side-by-side = false
    diff-so-fancy = true

[web]
    browser = chrome

[diff]
    colorMoved = default

[difftool]
    prompt = false

[init]
    defaultBranch = main

[fetch]
    prune = true

[pull]
    rebase = true

[alias]
    a = add --all
    b = branch -v
    ba = branch -a
    bc = rev-parse HEAD
    bd = branch -d
    bdd = branch -D
    br = branch -r
    c = commit
    ca = commit -a
    cad = commit -a --amend
    cam = commit -am
    cd = commit --amend
    ch = checkout
    chb = checkout -b
    chd = checkout develop
    chm = checkout main
    cl = clone
    cm = commit -m
    d = diff
    dt = difftool
    f = fetch
    fa = fetch --all
    fo = fetch origin
    fu = fetch upstream
    g = grep -p
    l = log
    lg = log --oneline --graph --decorate
    lo = log --oneline
    ls = ls-files
    m = merge
    ma = merge --abort
    mc = merge --continue
    ms = merge --skip
    pb = pull --rebase
    pbo = pull --rebase origin
    pbom = pull --rebase origin main
    pbum = pull --rebase upstream main
    pl = pull
    plo = pull origin
    plom = pull origin main
    plu = pull upstream
    plum = pull upstream main
    ps = push
    psao = push --all origin
    psaom = push --all origin main
    psd = push develop develop
    psf = push -f
    psfo = push -f origin
    psfom = push -f origin main
    pso = push origin
    psom = push origin main
    psp = push production main
    psu = push -u
    psuo = push -u origin
    psuon = push -u origin main
    r = remote
    ra = remote add
    rao = remote add origin
    rau = remote add upstream
    rb = rebase
    rba = rebase --abort
    rbc = rebase --continue
    rbi = rebase --interactive
    rbs = rebase --skip
    re = reset
    reh = reset --hard
    rehh = reset --hard HEAD
    rem = reset --mixed
    remh = reset --mixed HEAD
    res = reset --soft
    resh = reset --soft HEAD
    rh = reset HEAD
    rmf = rm -f
    rmrf = rm -r -f
    rn = remote rename
    rr = remote rm
    rro = remote remove origin
    rru = remote remove upstream
    rs = remote show
    rso = remote show origin
    rsu = remote show upstream
    rv = remote -v
    s = status
    sb = status -s -b
    subpull = !git submodule foreach git pull --tags origin main
    subup = submodule update --init --recursive

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
